<md-content layout layout-align="center center" layout-margin class="md-accent container content-view body-color" ng-init="getDoc()">
  <md-card flex="50">
    <md-subheader class="log-header">
        <center>
          <span></span>
        </center>
    </md-subheader>
    <md-content class="md-padding">
        <h4>Title:</h4><span>{{docDetails.title}}</span>
        <h4>Content:</h4>
        <p>{{docDetails.content}}</p>
        <br><br>
        <div class="md-actions" layout="row" layout-align="center center">
          <md-button flex="20" ng-click="goBack()" class="md-raised md-hue-4">Go Back</md-button>
        </div>
    </md-content>
  </md-card>
</md-content>
