<md-subheader class="home-content profile-bar">
    <center>
      <span>All Documents </span>
    </center>
</md-subheader>
<md-content class="md-padding body-color" flex>
  <md-card ng-repeat="doc in recentDocs | orderBy: '-date_created'" style="margin-left:10px;float:left;">
    <md-card-content>
      <a ng-href="#" ui-sref="view({id: doc._id})">
        <h3 class="docs-title">{{doc.title}}</h3>
      </a>
      <h4 ng-if="(doc.content).length >= 20" class="docs-content">{{(doc.content).substring(0, 20)+'...'}}</h4>
      <h4 ng-if="(doc.content).length < 20" class="docs-content">{{doc.content}}</h4>
      <h4>Created At:&nbsp;<strong>{{ doc.date_created | date: medium}}</strong></h4>
    </md-card-content>
  </md-card>
  <div ng-if="!recentDocs.length" layout layout-margin layout-align="center center">
    <span>Documents have not yet been created</span>
  </div>
</md-content>
