<md-content layout layout-align="center center" layout-margin class="md-accent container content-view">
  <md-card flex="50">
    <md-subheader class="log-header">
        <center>
          <span>Sign Up </span>
        </center>
    </md-subheader>
    <md-subheader ng-show="showLoginErr" class="error-header">
      <center>
        <span>
          <i class="fa fa-warning fa-lg"></i>
          <em><strong>{{errorMsg}}</strong></em>
        </span>
      </center>
    </md-subheader>
    <md-content class="md-padding">
       <form name="signupForm">
        <md-input-container md-no-float>
          <md-icon><i class="fa fa-user-secret fa-lg"></i></md-icon>
          <input name="username" ng-model="userInfo.username" type="text" placeholder="Username" ng-required="true">
        </md-input-container>
        <md-input-container md-no-float>
          <md-icon><i class="fa fa-user-plus fa-lg"></i></md-icon>
          <input name="firstname" ng-model="userInfo.name.first" type="text" placeholder="First Name" ng-required="true">
        </md-input-container>
        <md-input-container md-no-float>
          <md-icon><i class="fa fa-user-plus fa-lg"></i></md-icon>
          <input name="lastname" ng-model="userInfo.name.last" type="text" placeholder="Last Name" ng-required="true">
        </md-input-container>
        <md-input-container md-no-float>
          <md-icon md-svg-src="assets/icons/email.icon.svg"></md-icon>
          <input name="emailName" ng-model="userInfo.email" type="email" placeholder="Email" ng-required="true">
          <div flex-offset="5" ng-messages="signupForm.emailName.$error">
            <div ng-message="email">Type in a valid email address</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float>
          <md-icon md-svg-src="assets/icons/password.icon.svg"></md-icon>
          <input name="passName" ng-model="userInfo.password" type="password" ng-minlength="6" ng-maxlength="20" placeholder="Password" ng-required="true">
          <div flex-offset="5" ng-messages="signupForm.passName.$error">
            <div class="error-message" ng-message="minlength">Enter a minimun of 6 characters</div>
            <div class="error-message" ng-message="maxlength">Can not be more than 20 characters</div>
          </div>
        </md-input-container>
        <div class="md-actions" layout="row" layout-align="center center">
          <md-button ng-disabled="signupForm.$invalid" flex="50" ng-click="signup(userInfo)" class="md-raised md-hue-4">Sign Up</md-button>
        </div>
        <div layout layout-margin layout-align="center center">
          <span style="text-align: center;">Already have an account? &nbsp;<a href="#/signin">Sign In</a></span>
        </div>
      </form>
      <md-progress-linear md-mode="indeterminate" ng-show="showProg" class="md-primary">
      </md-progress-linear>
    </md-content>
  </md-card>
</md-content>
